<app-navbar></app-navbar>
<section id="formu">

<div class="container pt-5">

  <div class="row ">

    <div class="col-md-6 logo pb-5 rosa">
      <img  src="../../assets/img/logo.png" align="center" width=" 90%" alt="logo">
      <h3>Contactame por Whastapp o por E-mail</h3>
      <h6>A la brebedad le responderemos</h6>
      <p><i class="fa fa-whatsapp"> 15  5555-5555</i></p>
    </div>
        
    
    <div class="col-md-6 formulario mt-5 col-xs-5 pb-5">
      <form>
        <div class="form-group">
          <div class=""><b><label for="nombre" >Nombre </label></b></div>
          <div class=" "><input id="nombre" placeholder="Escribe tu nombre" type="text" class="form-control"  ></div>
        </div>
        
        
        <div class="form-group">
          <div class=" "><b><label for="email">E-mail </label></b></div>
          <div class=" "><input id="email" placeholder="Escribe tu email" class="form-control" type="email"></div>
        </div>
        
        <div class="form-group">
          <div class=" "><b><label for="tema">Tema </label></b></div>
          <div class=" "><input id="tema" cols="40" type="text" placeholder="Tema a preguntar" class="form-control"></div>
        </div>
        
        <div class="form-group">
          <div class=" "><b><label for="msj">Mensaje </label></b></div>
          <div class=" "><textarea id="msj" placeholder="Escribe tu mensaje..." cols="40"   s="5" class="form-control"></textarea></div>
        </div>
        <button class="btn btn-info">Enviar</button>
        
        
      </form>
      
      
    </div>


    </div>


  </div>



</section>




     
    

      
 