<section id="formu">
  <app-navbar></app-navbar>
  <div class="container-fluid">

    <div class="row bg-row py-4 mx-0 mt-3 rounded">
      <div class="col-md-6 logo letrero text-white text-center p-0 mx-0">
        <h2>Contactame por Whastapp o por Email...</h2>
        <h4> <em>...que a la brevedad te voy a responder</em> </h4>
         <h4>
        <i class="fa fa-2x fa-whatsapp"><span> 15 5555-5555</span> </i>
        </h4>
        <div class="col-8 col-md-6 mt-3 p-1 p-md-4 mx-auto rounded-circle bg-white">
          <img src="../../assets/img/corona.png" align="center" class="img-fluid" alt="logo">
        </div>
      </div>
      <div class="col-md-6 formulario col-xs-5">
        <form class="mt-0 mt-md-5">
          <div class="form-group d-flex">

            <div class="col-md-10 p-0">
              <div class=" ">
                <b>
                  <label for="tema text-white">Nombre </label>
                </b>
              </div>
              <div class="">
                <input id="nombre" cols="40" type="text" placeholder="Escribí tu nombre" class="form-control px-0">
              </div>
            </div>
          </div>

          <div class="form-group d-flex">
            <div class="col-md-10 p-0">
              <div class=" ">
                <b>
                  <label for="tema text-white">Email </label>
                </b>
              </div>
              <div class="">
                <input id="email" cols="40" type="email" placeholder="Escribe tu email" class="form-control px-0">
              </div>
            </div>

          </div>

          <div class="form-group d-flex">
            <div class="col-md-10 p-0">
              <div class=" ">
                <b>
                  <label for="tema text-white">Tema </label>
                </b>
              </div>
              <div class=" ">
                <input id="nombre" cols="40" type="text" placeholder="Escriba el tema del mensaje" class="form-control px-0">
              </div>
            </div>
          </div>

          <div class="form-group d-flex">
            <div class="col-md-10 p-0">
              <div class=" ">
                <b>
                  <label for="tema text-white">Email </label>
                </b>
              </div>
              <div class=" ">
                <textarea class="form-control text-white" data-label="mensaje" required="" data-msg="Please enter your message." name="message"
                  placeholder="Escriba su mensaje" aria-required="true"></textarea>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>


</section>
