<app-navbar></app-navbar>
<div class="container">


  <div class="row mt-5">

    <div class="col-lg-6 col-md-6 col-xs-12 mx-auto my-auto ">
      <h1 align="center">¿Tienes alguna pregunta?</h1>
      <h3 align="center">Ante cualquier duda te recomiendo que me lo hagas saber a través de un mensaje.</h3>
      <h3 align="center" class="ml-2">Gracias, Laura <font color="#f90000" >&#9829;</font></h3>
    </div>
      
    <div id="fondo" class="col-lg-6 col-md-6 col-xs-12">
      <form action="">
        <div class="row ml-1 mr-1 mt-4">
          <label for="">Nombre</label>
          <input class="form-control" type="text" placeholder="Ingrese su nombre">
        </div>
        
        <div class="row ml-1 mr-1">
          <label for="">E-mail</label>
          <input class="form-control" type="text" placeholder="Ingrese su correo electronico">
        </div>
        
        <div class="row ml-1 mr-1">
          <label for="">Telefono</label>
          <input class="form-control" type="text" placeholder="Ingrese un numero de telefono">
        </div>
        
        <div class="row ml-1 mr-1">
          <label for="">Mensage</label>
          <textarea rows="10" class="form-control" type="text" placeholder="Escriba el mensage..."></textarea>
        </div>
        
        <div class="row mt-4 mb-4 ml-1"><button class="btn btn-info btn-lg">Enviar</button></div>
        
      </form>
    </div> 
  
  </div>
</div>