<section id="fondomitrabajo">
  <app-navbar></app-navbar>
  <div class="container pt-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="titulo-princ d-flex align-items-center justify-content-center">
          <img src="../../assets/img/obj1.png" class="img-fluid mr-3" alt="">
          <h2 class="">Mi nombre es Laura Villafañe</h2>
          <img src="../../assets/img/obj1.png" class="img-fluid ml-3" alt="">
        </div>

        <h3>
          <em> y te cuento que ....</em>
        </h3>
        <div class="parrafo p-4 mb-4">
          <p class="central-text text-white">... soy apasionada por la edición y los trabajos relacionados con la escritura y no podía dejar de expresar con
            este emprendimiento la pasión que tengo por los libros. Hacer agendas y cuadernos a mano (sí, ¡cosidos a mano!)
            me conecta con la satisfacción de hacer mas fácil el día de las personas con un toque artesanal.</p>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-md-4 col-xs-4 mb-3">
        <img class="img-thumbnail" src="../assets/img/1.jpg">
      </div>
      <div class="col-md-4 col-xs-4 mb-3">
        <img class="img-thumbnail" src="../assets/img/2.jpg">
      </div>
      <div class="col-md-4 col-xs-4 mb-3">
        <img class="img-thumbnail" src="../assets/img/3.jpg">
      </div>


    </div>

  </div>

</section>
