
#fondomitrabajo{
    
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:black;
    background-color: pink;
    
    
}
h2{
    color: #fff;
    text-shadow:2px 2px 2px black; 



}
hr{
    width: 30%;
    
    border: 2px solid black;
    box-shadow: 2px 2px 2px white;


}

section{
    padding: 65px 32px;
    background-image: url("assets/img/birds.jpg");
    background-color: rgb(240, 121, 220);
    background-blend-mode: screen;
}
img{
    transition: all 3s ease-in-out;
}
.thumb:hover {
    background-color: #d43076;
  }

.text-styled{
    font-family: 'Kaushan Script', cursive;
    color:#a91f5a;
}
p{
    color:#fb1478;
}


 

