<app-navbar></app-navbar>
<section >
  <div class="col-md-12">
<div class="col-md-6"></div>
<div class="col-md-6">
<h2>Mi nombre es Laura Villafañe</h2>
<p>Soy apasionada por la edición y los trabajos relacionados con la escritura y no podía dejar de expresar con este emprendimiento la pasión que tengo por los libros. Hacer agendas y cuadernos a mano (si, cosidos a mano) me conecta con la satisfaccion de hacer mas fácil el dia de las personas com un toque artesanal.</p>

</div>


  </div>
  </section>