<app-navbar></app-navbar>
<section id="fondomitrabajo">
  <div class="container pt-5">
    <div class="row pt-5">
  <div class="col-md-12 text-center">


<h2>Mi nombre es Laura Villafañe</h2>
<hr>
<p>Soy apasionada por la edición y los trabajos relacionados con la escritura y no podía dejar de expresar con este emprendimiento la pasión que tengo por los libros. Hacer agendas y cuadernos a mano (si, cosidos a mano) me conecta con la satisfaccion de hacer mas fácil el dia de las personas con un toque artesanal.</p>
</div>


</div>
<div class="row">
<div class="col-md-4 col-xs-4 mb-3"><img  class="img-thumbnail" src="../assets/img/1.jpg"></div>
<div class="col-md-4 col-xs-4 mb-3"><img class="img-thumbnail" src="../assets/img/2.jpg"></div>
<div class="col-md-4 col-xs-4 mb-3"><img  class="img-thumbnail" src="../assets/img/3.jpg"></div>


</div>

  </div>

  </section>