nav{
    background-color: rgba(73, 38, 69, 0.72);
}
.nav-link{
    color:white!important;
    cursor: pointer;
    font-size: 1.4rem!important;
    text-transform: capitalize!important;
}
.nav-link:hover{
    color: #e19effb3!important;
}
.a-logo{
   
    font-size: 1.6rem;
}

/* Rules for mobiles */
@media screen and (max-width:425px) {
    .a-logo{
        font-size: 1.2rem;
    }
}
