<app-navbar></app-navbar>
<carousel>
    <slide>
      <img src="././assets/img/1.jpg" alt="First slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="././assets/img/2.jpg" alt="Second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="././assets/img/3.jpg" alt="Third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
  
  <section class="row">
  <h1 class="col-md-12 text-styled mb-3">Mis cuadernos y Agendas</h1>
  <p class="h4 ml-2 my-3">Disfrutá un rato mirando mis trabajos y novedades...</p>
  <div class="row">
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/1.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/2.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/3.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/4.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/5.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/6.jpg" alt="" class="img-fluid">
    </div>

    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/7.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/8.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/9.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/10.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/11.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/12.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/13.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-2 p-2 thumb">
      <img src="assets/img/14.jpg" alt="" class="img-fluid">
    </div>
 </div>
 <ul>
   <li *ngFor="let toto of listado">{{toto.nombre}}</li> 

 </ul>
</section>


<carousel>
    <slide>
      <img src="././assets/img/1.jpg" alt="First slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="././assets/img/2.jpg" alt="Second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="././assets/img/3.jpg" alt="Third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>


