
#fondo{
    background-image: url("../../assets/img/bg1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-shadow: 2px 2px 2px black;
}
#fondo img{
    filter: hue-rotate(453deg);
}
.title-large{
    text-shadow: 6px 2px 2px rgb(53, 53, 53);
    color: #fff28a;
    /* text-shadow: 0 0 5px rgb(255, 255, 255); */
    font-size: 3.2rem!important;
    font-weight: 300;
    font-family: 'Rochester', cursive;
}