<!-- <section id="fondo">
  <div class="container pt-5">
    <div class="row pt-5">
      <div class="col-12 text-center pt-5">
        <h1>Hola!!!!</h1>
      </div>
    </div>
  </div>
  </section>
   -->

<div id="carrusel" style="height:60px;">
  <div id="velo"></div>
   <carousel>
    <slide>
      <img src="assets/images/slide1.jpg" alt="First slide" style="height:60%; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/slide2.jpg" alt="Second slide" style="height:60%; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/slide3.jpg" alt="Third slide" style="height:60%; width: 100%;">
    </slide>
  </carousel>
</div>


